body {
	font-family: "Vollkorn", Times, serif;
	color: #4D2100;
	background-color: #FFFFE3;
	margin: 0px;
}

header {
	background-color: #BDEDFF;
	height: 95px;
	min-width: 480px;
}

#logo {
	float: right;
	width: 75px;
	height: 75px;
	border-color: white;
	border-style: inset;
	border-radius: 50px;
	opacity: .7;
	margin: 10px 10px 10px 0px;
	transition: opacity 500ms;
}

#logo:hover {
	opacity: 1;
}

nav ul {
	font-family: "Lato";
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	float: left;
	margin: 50px 0px 0px 25px;
}

nav li {
	display: inline;
	margin-right: 20px;
	padding-right: 7px;
}

nav a {
	color: #4D2100;
	font-size: 1.2em;
	text-decoration: none;
}

nav a:hover {
	color: #E66300;
}

nav a:visited {
	text-decoration: none;
}

.wrapper {
	min-width: 480px;
	background-color: #FFFFE3;
}

.mainContent {
	margin: 0px 10px;
}

.mainContent ul {
	margin-left: -20px;
}

.mainContent a {
	color: #4D2100;
}

.mainContent a:visited {
	color: #4D2100;
}

.mainContent a:hover {
	color: #E66300;
}

p.copyright {
	position: relative;
	font-size: 0.89em;
	text-align: right;
	margin-right: 10px;
	padding-top: 8px;
}

/* .socialMedia {
	Gotta get on social media first :)
} */

.boxes {
	float: left;
  	margin-left: -1.25%; 
 	font-size: 0px;
  	/*border: 1px solid black; */
}

.boxes .box {
 	display: inline-block;
 	width: 28%;
 	margin: 1.25% 0 1.25% 2.25%;
 	border: 1px solid black;
}

a.box {
 	padding: 1.25%;
 	vertical-align: top;
 	text-decoration: none;
}

.box img {
 	max-width: 100%;
}

.box h3 {
 	max-width: 100%;
 	font-size: 18px;
}

.box p {
 	max-width: 100%;
 	font-size: 14px;
}

a.box:hover {
 	color: #4D2100;
 	text-decoration: none;
 	transform: scale(1.02);
}

footer {
	clear: both;
	height: 35px;
	min-width: 480px;
	background-color: #FFA763;
}